
html, body{
    max-width: 100%;
    max-height: 100%;
    padding: 1%
}

header {
    background-image: url('https://home.openweathermap.org/assets/history_banner-6fb0d5dc29d608ac8bc0717480e210a40260e475f6fb86880ef4687d496eb376.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#btn1{
    left: 10px;
}


p{
    color: black;
}

h1{
text-shadow: 10px 10px 10px black;
}


